<div>
  <nav class="grid grid-flow-col gap-4">
    <%= link_to 'お問い合わせ' %>
    <%= link_to 'プライバシーポリシー' %>
    <%= link_to '利用者規約' %>
  </nav> 
  <aside>
    <p>Copyright © 2024.行った場所管理サービス </p>
  </aside>
</div>